<div class="all">
  <h1 class="text-center" id="searchKey">Your Searched for ' {{key}} '</h1>
  <h3 id="result" class="text-center" *ngIf="result > 1">{{result}} results</h3>
  <h3 id="result" class="text-center" *ngIf="result <= 1">{{result}} result</h3>
  <br>
  <br>
 
  <div *ngFor="let m of movie" class="hi">
    <div class="col-md-3 col-sm-6" id="c-row">
      <a routerLink="/movie/{{m.mid}}"> 
        <img id="image" src="{{m.poster}}" alt="poster" class="image" style="width:100%">
        </a>
      <div class="text-center" id="text-label">{{m.name}}</div>
    </div>
  </div>
</div>