<div class="cate">
  <div class="c-row">
    <div class="col-lg-12 text-center">
      <div class="header">Choose your movie category</div>
    </div>
  </div>
  <div class="c-row-1">
    <div class="col-md-3 col-sm-6" id="action">
      <a [routerLink]="['/movielist']">
        <img id ="image" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjE2NDkxNTY2M15BMl5BanBnXkFtZTgwMDc2NzE0MTI@._V1_SY1000_CR0,0,648,1000_AL_.jpg" alt="Avatar" class="image" style="width:100%">
       </a>
      <div class="text-center" id="text-label">ACTION</div>
    </div>
     <div class="col-md-3 col-sm-6" id="adventure">
      <a [routerLink]="['/movielist']">
        <img id ="image" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTIxNDUxNzcyMl5BMl5BanBnXkFtZTcwNTgwOTI3MQ@@._V1_.jpg" alt="Avatar" class="image" style="width:100%">
       </a>
      <div class="text-center" id="text-label">ADVENTURE</div>
    </div>
    <div class="col-md-3 col-sm-6" id="animation">
      <a [routerLink]="['/movielist']">
        <img id ="image" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjExNjAyNTcyMF5BMl5BanBnXkFtZTgwODQzMjQ3MDE@._V1_SY1000_CR0,0,675,1000_AL_.jpg" alt="Avatar" class="image" style="width:100%">
       </a>
      <div class="text-center" id="text-label">ANIMATION</div>
    </div>
    <div class="col-md-3 col-sm-6" id="biography">
      <a [routerLink]="['/movielist']">
        <img id ="image" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjE0NTA2MTEwOV5BMl5BanBnXkFtZTgwNzg4NzU2NjE@._V1_SY1000_CR0,0,631,1000_AL_.jpg" alt="Avatar" class="image" style="width:100%">
       </a>
      <div class="text-center" id="text-label">BIOGRAPHY</div>
    </div>
  </div>
  <div class="c-row">
     <div class="col-md-3 col-sm-6" id="comedy">
      <a [routerLink]="['/movielist']">
        <img id ="image" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTcwNzAxMDU1M15BMl5BanBnXkFtZTgwNDE2NTU1MTE@._V1_SY1000_CR0,0,674,1000_AL_.jpg" alt="Avatar" class="image" style="width:100%">
       </a>
      <div class="text-center" id="text-label">COMEDY</div>
    </div>
    <div class="col-md-3 col-sm-6" id="crime">
      <a [routerLink]="['/movielist']">
        <img id ="image" src="https://images-na.ssl-images-amazon.com/images/M/MV5BYzVmYzVkMmUtOGRhMi00MTNmLThlMmUtZTljYjlkMjNkMjJkXkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_SY1000_CR0,0,675,1000_AL_.jpg" alt="Avatar" class="image" style="width:100%">
       </a>
      <div class="text-center" id="text-label">CRIME</div>
    </div>
     <div class="col-md-3 col-sm-6" id="documentary">
      <a [routerLink]="['/movielist']">
        <img id ="image" src="https://images-na.ssl-images-amazon.com/images/M/MV5BODZiOGMzOTgtN2ExZC00MmQ5LTg4MDctN2FkZTRjYWVkZWI1XkEyXkFqcGdeQXVyMjU1Njc3NTk@._V1_SY1000_CR0,0,675,1000_AL_.jpg" alt="Avatar" class="image" style="width:100%">
       </a>
      <div class="text-center" id="text-label">DOCUMENTARY</div>
    </div>
     <div class="col-md-3 col-sm-6" id="drama">
      <a [routerLink]="['/movielist']">
        <img id ="image" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTQ5NjQ0NDI3NF5BMl5BanBnXkFtZTcwNDI0MjEzMw@@._V1_SY1000_CR0,0,672,1000_AL_.jpg" alt="Avatar" class="image" style="width:100%">
       </a>
      <div class="text-center" id="text-label">DRAMA</div>
    </div>
  </div>
  <div class="c-row">
    <div class="col-md-3 col-sm-6" id="family">
      <a [routerLink]="['/movielist']">
        <img id ="image" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTUwNjUxMTM4NV5BMl5BanBnXkFtZTgwODExMDQzMTI@._V1_SY1000_CR0,0,674,1000_AL_.jpg" alt="Avatar" class="image" style="width:100%">
       </a>
      <div class="text-center" id="text-label">FAMILY</div>
    </div>
     <div class="col-md-3 col-sm-6" id="fantasy">
      <a [routerLink]="['/movielist']">
        <img id ="image" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjMxOTM1OTI4MV5BMl5BanBnXkFtZTgwODE5OTYxMDI@._V1_SY1000_CR0,0,674,1000_AL_.jpg" alt="Avatar" class="image" style="width:100%">
       </a>
      <div class="text-center" id="text-label">FANTASY</div>
    </div>
     <div class="col-md-3 col-sm-6" id="history">
      <a [routerLink]="['/movielist']">
        <img id ="image" src="https://images-na.ssl-images-amazon.com/images/M/MV5BNjEzYjJmNzgtNDkwNy00MTQ4LTlmMWMtNzA4YjE2NjI0ZDg4XkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SY1000_CR0,0,673,1000_AL_.jpg" alt="Avatar" class="image" style="width:100%">
       </a>
      <div class="text-center" id="text-label">HISTORY</div>
    </div>
    <div class="col-md-3 col-sm-6" id="horror">
      <a [routerLink]="['/movielist']">
        <img id ="image" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMzk1NzI1ODg3M15BMl5BanBnXkFtZTgwNzM0Mzc4MTI@._V1_SY1000_CR0,0,674,1000_AL_.jpg" alt="Avatar" class="image" style="width:100%">
       </a>
      <div class="text-center" id="text-label">HORROR</div>
    </div>
  </div>
  <div class="c-row">
    <div class="col-md-3 col-sm-6" id="music">
      <a [routerLink]="['/movielist']">
        <img id ="image" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMzUzNDM2NzM2MV5BMl5BanBnXkFtZTgwNTM3NTg4OTE@._V1_SY1000_SX675_AL_.jpg" alt="Avatar" class="image" style="width:100%">
       </a>
      <div class="text-center" id="text-label">MUSIC</div>
    </div>
     <div class="col-md-3 col-sm-6" id="mystery">
      <a [routerLink]="['/movielist']">
        <img id ="image" src="https://images-na.ssl-images-amazon.com/images/M/MV5BNTE2Nzg1NjkzNV5BMl5BanBnXkFtZTgwOTgyODMyMTI@._V1_SY1000_CR0,0,631,1000_AL_.jpg" alt="Avatar" class="image" style="width:100%">
       </a>
      <div class="text-center" id="text-label">MYSTERY</div>
    </div>
    <div class="col-md-3 col-sm-6" id="romance">
      <a [routerLink]="['/movielist']">
        <img id ="image" src="https://images-na.ssl-images-amazon.com/images/M/MV5BNjYzODU1OTkwN15BMl5BanBnXkFtZTgwMDA3MTMwMDI@._V1_SY1000_CR0,0,675,1000_AL_.jpg" alt="Avatar" class="image" style="width:100%">
       </a>
      <div class="text-center" id="text-label">ROMANCE</div>
    </div>
    <div class="col-md-3 col-sm-6" id="sci-fi">
      <a [routerLink]="['/movielist']">
        <img id ="image" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjEwMzMxODIzOV5BMl5BanBnXkFtZTgwNzg3OTAzMDI@._V1_SY1000_SX675_AL_.jpg" alt="Avatar" class="image" style="width:100%">
       </a>
      <div class="text-center" id="text-label">SCI-FI</div>
    </div>
  </div>
  <div class="c-row">
     <div class="col-md-3 col-sm-6" id="sport">
      <a [routerLink]="['/movielist']">
        <img id ="image" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjAxOTU3Mzc1M15BMl5BanBnXkFtZTcwMzk1ODUzNg@@._V1_SY1000_CR0,0,675,1000_AL_.jpg" alt="Avatar" class="image" style="width:100%">
       </a>
      <div class="text-center" id="text-label">SPORT</div>
    </div>
     <div class="col-md-3 col-sm-6" id="thriller">
      <a [routerLink]="['/movielist']">
        <img id ="image" src="https://images-na.ssl-images-amazon.com/images/M/MV5BNzI5MzM3MzkxNF5BMl5BanBnXkFtZTgwOTkyMjI4MTI@._V1_SY1000_CR0,0,673,1000_AL_.jpg" alt="Avatar" class="image" style="width:100%">
       </a>
      <div class="text-center" id="text-label">THRILLER</div>
    </div>
    <div class="col-md-3 col-sm-6" id="war">
      <a [routerLink]="['/movielist']">
        <img id ="image" src="https://images-na.ssl-images-amazon.com/images/M/MV5BZjhkMDM4MWItZTVjOC00ZDRhLThmYTAtM2I5NzBmNmNlMzI1XkEyXkFqcGdeQXVyNDYyMDk5MTU@._V1_SY1000_CR0,0,679,1000_AL_.jpg" alt="Avatar" class="image" style="width:100%">
       </a>
      <div class="text-center" id="text-label">WAR</div>
    </div>
    <div class="col-md-3 col-sm-6" id="western">
      <a [routerLink]="['/movielist']">
        <img id ="image" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTUzNTc0NTAyM15BMl5BanBnXkFtZTgwMTk1ODA5OTE@._V1_SY1000_CR0,0,675,1000_AL_.jpg" alt="Avatar" class="image" style="width:100%">
       </a>
      <div class="text-center" id="text-label">WESTERN</div>
    </div>
  </div>
</div>
