<h1 class="text-center" id="mov-head">{{movieData?.name}}</h1>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <div class="text-center" id="rating-label">RATINGS : {{movieData?.rating}}</div>
    <img id="image" src="{{movieData?.poster}}"
      alt="Avatar" class="image" style="width:100%">
    <div class="text-center">
      <p id="rel-date">{{movieData?.release_date}}</p>
      <p id="cat">{{movieData?.category}}</p>
    </div>
  </div>
  <div class="col-md-7" id="vid">
    <div>
      <iframe width="1020" height="580" src="https://www.youtube.com/embed/zB4I68XVPzQ" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10"></div>
  <div class="col-md-1"></div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <h2 id="hdline">STORYLINE</h2>
    <p id="linetxt">{{movieData?.description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <h2 id="hdline">CASTS</h2>
    <p *ngFor="let ca of movieData?.cast" id="linetxt">{{ca}} </p>
  </div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <h2 id="hdline">REVIEW</h2>
    <h3 id="scdline">Don't forget to login in order to write down the review!</h3>
    <div class="forReview">
    <form (submit)="onCommentSubmit()">
      <input type="text" placeholder="Write down your review here" [(ngModel)]="comment" name="comment"><br>
      <input type="submit" class="btn btn-default" value ="Send">
    </form>
    </div>
  </div>
</div>
<div *ngFor="let re of movieData?.review" class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div class="panel panel-default" id="revi">
      <div class="panel-heading" id="rev-name">{{re.name}} &nbsp; {{re.dated}}</div>
      <div class="panel-body" id="rev">{{re.comment}}</div>
    </div>
  </div>
</div>

<!--{{movieData?.name}}<br>
{{movieData?.release_date}}<br>
{{movieData?.category}}<br>
{{movieData?.rating}}<br>
{{movieData?.description}}<br>
<span *ngFor="let ca of movieData?.cast"> {{ca}},  </span><br>

<div *ngFor="let re of movieData?.review">   
  {{re.name}} &nbsp; {{re.dated}} <br>
  {{re.comment}}
  </div><br>
  <form (submit)="onCommentSubmit()">
    <input type="text" [(ngModel)]="comment" name="comment">
    <input type="submit" class="btn btn-primary" value="Send">
  </form>
<img src="{{movieData?.poster}}" alt="poster"><br>-->

<!--<iframe src="https://www.youtube.com/embed/changeUrl({{movieData?.trailer}})" width="560" height="315" allowfullscreen></iframe>-->
<!--<iframe [src]="videoUrl" width="560" height="315" allowfullscreen></iframe>-->


