<h1 class="text-center" id="mov-head">STAR WARS: EPISODE IX - THE LAST JEDI</h1>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <div class="text-center" id="rating-label">RATINGS : 8.5</div>
    <img id="image" src="https://images-na.ssl-images-amazon.com/images/M/MV5BOTE5NzYyNjM0Ml5BMl5BanBnXkFtZTgwNjk4MDIwMjI@._V1_SY1000_CR0,0,674,1000_AL_.jpg"
      alt="Avatar" class="image" style="width:100%">
    <div class="text-center">
      <p id="rel-date">Release Date : 15 Dec 2017</p>
      <p id="cat">Category : Action, Adventure, Fantasy</p>
    </div>
  </div>
  <div class="col-md-7" id="vid">
    <div>
      <iframe width="1020" height="580" src="https://www.youtube.com/embed/zB4I68XVPzQ" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
  <h2 id="hdline">IMAGES IN MOVIE</h2>  
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTU1OTAzOTMxNV5BMl5BanBnXkFtZTgwMTg5MDIwMjI@._V1_SX1777_CR0,0,1777,744_AL_.jpg" alt="s2">
      </div>    
      <div class="item">
        <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BOTk5NjAwODc5MF5BMl5BanBnXkFtZTgwNzg5MDIwMjI@._V1_SX1777_CR0,0,1777,744_AL_.jpg" alt="s3">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div></div>
  <div class="col-md-1"></div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <h2 id="hdline">STORYLINE</h2>
    <p id="linetxt">Having taken her first steps into a larger world in Star Wars: The Force Awakens (2015), Rey continues her epic journey
      with Finn, Poe and Luke Skywalker in the next chapter of the saga.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <h2 id="hdline">CASTS</h2>
    <p id="linetxt">Daisy Ridley, John Boyega, Mark Hamill</p>
  </div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <h2 id="hdline">REVIEW</h2>
    <h3 id="scdline">Don't forget to login in order to write down the review!</h3>
    <div class="forReview">
      <textarea placeholder="Write down your review here"></textarea>
    </div>
    <div class="forbtn">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div class="panel panel-default" id="revi">
      <div class="panel-heading" id="rev-name">Mr. Mark I</div>
      <div class="panel-body" id="rev">Vey very good movie, you must see (Y)</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div class="panel panel-default" id="revi">
      <div class="panel-heading" id="rev-name">Mr. Mark II</div>
      <div class="panel-body" id="rev">very good movie, you must see (Y)</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div class="panel panel-default" id="revi">
      <div class="panel-heading" id="rev-name">Mr. Mark III</div>
      <div class="panel-body" id="rev">good movie, you must see (Y)</div>
    </div>
  </div>
</div>



{{movieData?.name}}<br>
{{movieData?.release_date}}<br>
{{movieData?.category}}<br>
{{movieData?.rating}}<br>
{{movieData?.description}}<br>
<span *ngFor="let ca of movieData?.cast"> {{ca}},  </span><br>
<div *ngFor="let re of movieData?.review"> {{re}},  </div><br>
<img src="{{movieData?.poster}}" alt="poster"><br>
<iframe src="https://www.youtube.com/embed/zB4I68XVPzQ" width="560" height="315" allowfullscreen></iframe>


