<div class="header-txt">
  <div class="text-center" id="edit-mov">EDIT MOVIE</div>
  <h1 class="text-center" id="intro-mov">Fill in the information you want to edit</h1>
</div>
<div class="edit-form" align="center">
  <div class="row" align="left">
    <label>Movie Name</label>
    <input type="text" placeholder="Enter the movie name here">
  </div>
  <div class="row" align="left">
    <label>Movie Poster URL</label>
    <input type="text" placeholder="Enter the URL of the movie poster here">
  </div>
  <div class="row" align="left">
    <label>Movie Trailer URL</label>
    <input type="text" placeholder="Enter the URL of the movie trailer here">
  </div>
  <div class="row" align="left">
    <label>Description</label>
    <textarea placeholder="Enter the movie description here"></textarea>
  </div>
  <div class="row" align="left">
    <label>Casts and Crews</label>
    <textarea placeholder="Enter the casts and crews of the movie here"></textarea>
  </div>
  <div class="row" align="left">
    <label>Category</label>
    <input type="text" placeholder="Enter the category of the movie here(use ',' if more than one category)">
  </div>
   <div class="row" align="left">
    <label>Global Ratings</label>
    <input type="text" placeholder="Enter the URL of the movie trailer here">
  </div>
  <div class="foot">
    <button type="button" class="btn btn-default" id="edit">Edit</button>
    <button type="button" class="btn btn-default" id="cancel">Cancel</button>
  </div>
</div>
