<div class="all">
  <div class="regis-form">
  <div class="text-center">REGISTRATION FORM</div>
  <h1 class="text-center">please fill in all fields correctly</h1>
</div>
<form (submit)="onRegisterSubmit()">
  <div class="form-body" align="center">
   <div class="row" align="left">
    <label>First Name</label>
    <input type="text" placeholder="Enter Your First Name" [(ngModel)]="firstname" name="firstname">
  </div>
   <div class="row" align="left">
    <label>Last Name</label>
    <input type="text" placeholder="Enter Your Last Name" [(ngModel)]="lastname" name="lastname">
  </div>
  <div class="row" align="left">
    <label>Username</label>
    <input type="text" placeholder="Enter Your Username" [(ngModel)]="username" name="username">
  </div>
  <div class="row" align="left">
    <label>Email</label>
    <input type="text" placeholder="Enter Your E-mail" [(ngModel)]="email" name="email">
  </div>
  <div class="row" align="left">
    <label>Password</label>
    <input type="password" placeholder="Enter your Password" [(ngModel)]="password" name="password">
  </div>
  <div class="row" align="left">
    <label>Comfirm your Password</label>
    <input type="password" placeholder="Re-Enter your Password" [(ngModel)]="repassword" name="password">
  </div>
  <div class="foot ">
    <button type="submit" class="btn btn-default" value="submit">Register</button>
  </div>
</div>
</form>
</div>