<div class="login-header">
  <h1 class="text-center">LOG IN</h1>
  <h3 class="text-center">Please enter your username and password below</h3>
</div>
<div class="loginForm" align="center">
  <div class="roww" align="left">
    <label>Username</label>
    <input type="text" placeholder="Enter Your Username">
  </div>
  <div class="roww" align="left">
     <label>Password</label>
    <input type="text" placeholder="Enter Your Password">
  </div>
  <div class="foott">
    <button type="button" class="btn btn-default" id="log">Login</button>
    <button type="button" class="btn btn-default" id="cancel">Cancel</button>
  </div>
</div>